<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>SOL LANCHES</title>
    <link rel="stylesheet" href="/static/css/tailwind.css">
</head>

<body class="bg-zinc-950 text-white flex items-center justify-center h-screen">

<div class="text-center">

    <h1 class="text-5xl font-bold mb-6">🍔 SOL LANCHES</h1>

    <p class="text-zinc-400 mb-10">
        Bem-vindo ao melhor sistema de pedidos
    </p>

    <a href="/cardapio"
       class="bg-emerald-500 hover:bg-emerald-600 text-black px-10 py-4 rounded-2xl font-bold text-xl">
        Ver Cardápio
    </a>

</div>

</body>
</html>
